body {
    background-position: top;
    background-repeat: repeat-x;
    margin: 0;
    font-family: "Rubik", sans-serif;
}
.container {
    width: 100vw;
}
.d-flex {
    display: flex;
}
.g-20 {
    gap: 20px;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.page_content {
    text-align: justify;
    font-weight: 300;
}
.page {
    width: 850px;
    border: 6px solid black;
    border-radius: 3px;
    padding: 5px;
}